{% extends "layout.html" %}
{% block body %}
<div class="topnav" id="myTopnav" width="100%">
  <a href="{{ url_for('logout') }}">Sign out</a>
  <a href="{{ url_for('dashboard') }}" class="active">Home</a>
  </a>
</div>

<div class="logotxt">
<h1>ECenter</h1>
</div>

<div class="hd"> 
<h1 style="text-align:center; color:#fc2166">2021 CUSTOMER REPORT</h1>
</div>
<iframe width="1252" height="600" src="https://app.powerbi.com/reportEmbed?reportId=999370ec-ebf7-4789-9abd-fc37ecebcfdb&autoAuth=true&ctid=43790b1f-ab73-461d-8842-9477f06beff6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
<br>
<h1 style="text-align:center; color:#fc2166">KEY MARKETING TIPS</h1>
<ul class="tips">
	<li>
		<h2>01</h2>
		<h3>Monthly Charges</h3>
		<p>
			The subscribers with more monthly cahrges are highly susceptible to churn, hence are also very potential customers. When the customer
      subscribes for a higher package, try to give as much discount and benefit so that they are satisfied and their probability of getting churned might decrease.
		</p>
	</li>
	<li>
		<h2>02</h2>
		<h3>Payment</h3>
		<p>
			Majority of the subscribers use E-Cheque for payment transacrions and accoring to the study they tend to churn more. So try to check if all the tansactions, 
      and security criteria works properly for e-cheque payment method and is processed with ease and the customers don't face much issue with this mode of paymnet. 
		</p>
	</li>
	<li>
		<h2>03</h2>
		<h3>Tenure</h3>
		<p>
			According to the study, during the tenure period of initial 6 months, subscribers are more likely to churn (i.e) new subscribers are
      likely to churn. Hence when the subscribers join the plan, give them the clear idea and guidance about the plan they are choosing and 
      offer them appropriate discounts based on the plans. So the customers with clear idea and plan in advance will churn less.
		</p>
	<li>
		<h2>04</h2>
		<h3>Complaints</h3>
		<p>
			When there are more complaints the customers are less likely to churn when compare to customers with less complaints. Hence when there is not contact with customers for more than 6 months,
      it is highly suggested to call them and ask about thier experience with your service and also offer them appropriate discount for their plans.
		</p>
	</li>
  <li>
		<h2>05</h2>
		<h3>Service</h3>
		<p>
			Good service increases customer satisfaction. Hence, when there is a new subsriber, the service provided must be undoutedly exceptional and 
      satisfying and the pros and cons about the package they choose should be listed out transparently so that they can shift thier plans accordingly and also 
      therefore chances to getting churned in future reduces when they are satisfied and clear abot what the are using.
		</p>
	</li>
</ul>




{% endblock %}

